@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .quantity-box-pm-ic-block {
    .vnis__button {
      margin-left: -4px;
      margin-top: -2px;
      &.vnis__button__decrement {
        top: 9px !important;
      }
      &.vnis__button__increment {
       z-index: 9;
      }
    }
  }
  .search-list-container {
    .qty-box-block {
      input {
        max-width: 68px;
      }
    }
    .list-price-text {
      font-size: 13px;
    }
  }
  .list-action-container {
    &.grid-active {
      .grid-active-img {
        margin-top: 2px;
      }
    }
  }
  .dotted-border-block {
    span {
      margin: 0 7px;
    }
  }
}