@import "scss/_variable.scss";
@import "scss/_mixins.scss";
@import "scss/_theme.scss";
@import "scss/_calender.scss";
@import "scss/_custom.scss";

$vue-navy: #2c3e50;
$vue-navy-light: #3a5169;
$vue-teal: #42b883;
$vue-teal-light: #42b983;
$gray: #666a73;
$light-gray: #f8f8f8;

body {
  background: $light-gray;
  color: $vue-navy;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 1000px;
}
