// colors
$zf-color-blue: #0070b4;
$zf-color-dblue: #1179BF;
$zf-color-cyan: #00abe7;
$zf-color-cyan-hover: #0091c4;
$zf-color-cyan-light: #7fd5f3;
$zf-color-cyan-lighter: #7fd5f3;
$black: #000;
$black-light: #7f7f7f;
$black-lighter: #bfbfbf;
$zf-color-red: #dd0c29;
$zf-color-dark-blue: #001024;
$zf-color-dark-gray: #333333;
$zf-color-dark-red: #b00920;
$zf-color-gray: #eef1f4;
$zf-color-btn-disable: #cacaca;
$zf-color-seprator: #d8d8d8;
$zf-color-green: #00a757;
$zf-color-orange: #fa6304;
$zf-color-white: #fff;
$zf-color-grey-light:#9B9B9B;
