.primary-color {
  color: $zf-color-cyan !important;
}
.text-green {
    color: $zf-color-green;
  }
  .colorBlackLight {
    color: $black-light;
  }
  .color-black {
    color: $black !important;
  }
  .color-black-light {
    color:  $black-light !important;
  }
  .color-dblue {
    color:  $zf-color-dblue;
  }
  .text-red {
    color:  $zf-color-red;
  }
.text-orange {
  color: $zf-color-orange;
}
